@import "C:/Users/richa/node_modules/bootstrap/scss/bootstrap.scss";
@import "path.scss";

$border-radius: 15px;
$icons-size: 20px;
$file-tree-primary: gray;
$file-tree-secondary: lightgray;

#wrap {
  border: 2px $file-tree-primary solid;
  margin-top: 10px;
}

.files {
  width: 100%;
  font-size: $icons-size;
  border: 2px $file-tree-primary solid;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: $file-tree-secondary;
  }
}
